<!--<h4>Вход</h4>-->
<div class="row text-center login">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 padding">
                <input type="text" placeholder="username">
            </div>
            <div class="col-md-12 padding">
                <input type="text" placeholder="password">  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 padding">
                <button class="center block">Вход</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <a href="">Забыли пароль?</a>
            </div>
            <div class="col-md-6">
                <a href="">Регистрация</a>
            </div>
        </div>
      
    </div>
</div>
