<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 logo">
        <img src="/assets/img/logo.png" alt="Логотип Услуги" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <nav>
          <div class="row">
            <ul>
              <li class="list-inline">
                <a href="#main">Главная</a>
                <a href="#clipboard">Объявление</a>
                <a href="#">Работники</a>
                <a href="#comments">Отзывы</a>
                <a href="#contacts">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-sm-2 account">
        <a href="" (click)="smModal.show()">Войти</a>
        <!--<a href="#">Регистрация</a>-->
      </div>
    </div>
  </div>
</header>

<section id="main">
  <div class="container text-center">
    <div class="row wow bounceInDown" data-wow-delay="0.2s">
      <h3>Поиск объявлений</h3>
      <h4>Каждый может найти у нас то что ему нужно</h4>
    </div>
    <div class="row">
      <input type="text" placeholder="Поиск услуг">
      <button>Поиск услуги</button>
    </div>
  </div>
</section>

<section id="service">
  <div class="container">
    <div class="row text-center">
      <div class="section_header text-center wow bounceInLeft">
        <h4>Выбирайте то что вам нужно</h4>
        <p>Мы постарались сделать наши предложения наиболее гибкими<p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clipboard fa-1x inline" aria-hidden="true"></i>
                    <h4 class="inline">Недвижимость</h4>
                </div>
                <div class="panel-body">
                    <li><a href="#">Вфывфыв</a></li>
                    <li><a href="#">Выфвыфвфвы</a></li>
                    <li><a href="#">Афвфвыфвыф</a></li>
                    <li><a href="#">Афвыфвы</a></li>
                    <li><a href="#">Еыфвфывфыв</a></li>
                    <li><a href="#">Увфывфывфы</a></li>
                </div>
              </div>
      </div>
      <div class="col-md-3 col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-search fa-1x inline" aria-hidden="true"></i>
            <h4 class="inline">Транспорт</h4>
          </div>
          <div class="panel-body">
              <li><a href="#">Вфывфыв</a></li>
              <li><a href="#">Выфвыфвфвы</a></li>
              <li><a href="#">Афвфвыфвыф</a></li>
              <li><a href="#">Афвыфвы</a></li>
              <li><a href="#">Еыфвфывфыв</a></li>
              <li><a href="#">Увфывфывфы</a></li>
          </div>
        </div>
      </div>
        <div class="col-md-3 col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-search fa-1x inline" aria-hidden="true"></i>
                  <h4 class="inline">Бытовая техника</h4>
                </div>
                <div class="panel-body">
                  <li><a href="#">Вфывфыв</a></li>
                  <li><a href="#">Выфвыфвфвы</a></li>
                  <li><a href="#">Афвфвыфвыф</a></li>
                  <li><a href="#">Афвыфвы</a></li>
                  <li><a href="#">Еыфвфывфыв</a></li>
                  <li><a href="#">Увфывфывфы</a></li>
                </div>
              </div>
        </div>
        <div class="col-md-3 col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <i class="fa fa-search fa-1x inline" aria-hidden="true"></i>
                  <h4 class="inline">Поиск объявлений</h4>
                </div>
                <div class="panel-body">
                  <li><a href="#">Вфывфыв</a></li>
                  <li><a href="#">Выфвыфвфвы</a></li>
                  <li><a href="#">Афвфвыфвыф</a></li>
                  <li><a href="#">Афвыфвы</a></li>
                  <li><a href="#">Еыфвфывфыв</a></li>
                  <li><a href="#">Увфывфывфы</a></li>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-5">

            <div class="panel panel-default">
              <div class="panel-heading">
               <i class="fa fa-male fa-1x inline" aria-hidden="true" ></i>
               <h4 class="inline">Поиск работника</h4>
              </div>
              <div class="panel-body">
                <li><a href="#">Вфывфыв</a></li>
                <li><a href="#">Выфвыфвфвы</a></li>
                <li><a href="#">Афвфвыфвыф</a></li>
                <li><a href="#">Афвыфвы</a></li>
                <li><a href="#">Еыфвфывфыв</a></li>
                <li><a href="#">Увфывфывфы</a></li>
              </div>
            </div>
      </div>
      <div class="col-md-3 col-sm-5">
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-question-circle fa-1x inline" aria-hidden="true"></i>
                <h4 class="inline">Обратная связь</h4>  
              </div>
              <div class="panel-body">
                <li><a href="#">Вфывфыв</a></li>
                <li><a href="#">Выфвыфвфвы</a></li>
                <li><a href="#">Афвфвыфвыф</a></li>
                <li><a href="#">Афвыфвы</a></li>
                <li><a href="#">Еыфвфывфыв</a></li>
                <li><a href="#">Увфывфывфы</a></li>
              </div>
            </div>
    </div>
      <div class="col-md-3 col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-thumbs-o-up fa-1x inline" aria-hidden="true"></i>
                <h4 class="inline">Заключние Сделки</h4>
              </div>
              <div class="panel-body">
                <li><a href="#">Вфывфыв</a></li>
                <li><a href="#">Выфвыфвфвы</a></li>
                <li><a href="#">Афвфвыфвыф</a></li>
                <li><a href="#">Афвыфвы</a></li>
                <li><a href="#">Еыфвфывфыв</a></li>
                <li><a href="#">Увфывфывфы</a></li>
              </div>
            </div>
      </div>
      <div class="col-md-3 col-sm-5">

            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-usd fa-1x inline" aria-hidden="true"></i>
                <h4 class="inline">Бесплатная платформа</h4>
              </div>
              <div class="panel-body">
                <li><a href="#">Вфывфыв</a></li>
                <li><a href="#">Выфвыфвфвы</a></li>
                <li><a href="#">Афвфвыфвыф</a></li>
                <li><a href="#">Афвыфвы</a></li>
                <li><a href="#">Еыфвфывфыв</a></li>
                <li><a href="#">Увфывфывфы</a></li>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>

<!--<section id="about">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/about.jpg" alt="" class="img-reponsive">
      <div class="image"></div> 
    </div>
    <div class="col-md-6 orange">
      <div class="section_header">
      <h2>О нашем сервисе</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem<br>
         Ipsum has been the industry's standard dummy text ever since the 1500s, when an<br>
          unknown printer took a galley of type and scrambled it to make a type specimen<br>
           book. It has survived not only five centuries, but also the leap into electronic<br>
            typesetting, remaining essentially unchanged. It was popularised in the ore recently<br>
             with desktop publishing software like Aldus PageMaker including versions of Lorem<br>
              Ipsum</p>
      <button>Далеее</button>
      </div>
    </div> 
  </div>
</section>-->

<section id="howitwork">
  <div class="container">
    <div class="row">
      <div class="section_header text-center">
      <h2>Как работает наш сервис</h2>
      <p>Мы постарались сделать наш сервис наиболее гибким</p>
      </div>
    </div>
      <div class="row text-center">
        <div class="col-md-3">
          <!--<img src="/assets/img/work1.png" alt="" class="img-responsive">-->
          <i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
          <h4>Создай аккаунт</h4>
          <p>Lorem Ipsum is simply dummy text<br>
             of the printing and typesetting ind<br>
              ustry. Lorem Ipsum has been</p>
        </div>
        <div class="col-md-3">
          <!--<img src="/assets/img/work2.png" alt="" class="img-responsive">-->
          <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
          <h4>Подай объявление</h4>
          <p>Lorem Ipsum is simply dummy text<br>
             of the printing and typesetting ind<br>
              ustry. Lorem Ipsum has been</p>
        </div>
        <div class="col-md-3">
          <!--<img src="/assets/img/work3.png" alt="" class="img-responsive">-->
          <!--<i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>-->
          <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
          <h4>Заключай сделку</h4>
          <p>Lorem Ipsum is simply dummy text<br>
             of the printing and typesetting ind<br>
              ustry. Lorem Ipsum has been</p>
        </div>
        <div class="col-md-3">
          <!--<img src="/assets/img/work4.png" alt="" class="img-responsive">-->
          <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
          <h4>Получай удовольствие</h4>
          <p>Lorem Ipsum is simply dummy text<br>
             of the printing and typesetting ind<br>
              ustry. Lorem Ipsum has been</p>
        </div>
      </div>
      <div class="row text-center button">
        <button>
          Начать пользоваться
        </button>
      </div>
  </div>
</section>

<section id="clipboard">
  <div class="container">
    <div class="row">
      <div class="section_header text-center wow bounceInLeft">
        <h2>Недавние объявления</h2>
        <p>Посмотрите объвления и найдите что вам нужно</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="panel panel-default card">
          <div class="panel-body text-justify">

            <div class="col-md-4">
              <img src="/assets/img/clipboard1.png" alt="" class="img-responsive circle center-block">
            </div>
            <div class="col-md-8">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it
                to make.</p>
              <p class="upp"><span>Darwin Michle,</span> Project manager</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="panel panel-default card">
          <div class="panel-body text-justify">

            <div class="col-md-4">
              <img src="/assets/img/clipboard2.png" alt="" class="img-responsive circle center-block">
            </div>
            <div class="col-md-8">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrystandard
                dummy text ever since the 1500s, wen an unknown printer took a galley of type and scrambled to make a type specimen
                book.</p>
              <p class="upp"><span>Madam Elisabath,</span> Creative Director</p>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="panel panel-default  card">
          <div class="panel-body text-justify">

            <div class="col-md-4">
              <img src="/assets/img/clipboard3.png" alt="" class="img-responsive circle center-block">
            </div>
            <div class="col-md-8">
              <p>Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry
                  standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled
                    it to make.</p>
              <p class="upp"><span>Clips Arter,</span> Lipsum directer</p>
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-6 bottom">

        <div class="panel panel-default card">
          <div class="panel-body text-justify">

            <div class="col-md-4">
              <img src="/assets/img/clipboard4.png" alt="" class="img-responsive circle center-block">
            </div>
            <div class="col-md-8">
              <p>Lorem Ipsum is simply dummy text of the printing and
                 typesetting industry. Lorem Ipsum has been the industrystandard
                dummy text ever since the 1500s, wen an unknown printer took
                 a galley of type and scrambled to make a type specimen
                book.</p>
              <p class="upp"><span>Zam Cristafr,</span> manager</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section> 

<section id="comments">
  <div class="container">
    <div class="row">
      <div class="section_header text-center wow bounceInLeft">
        <h2>ОТзывы Клиентов</h2>
        <p>Они объяснят как работают наши решения</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="panel panel-default  card">
          <div class="panel-body text-justify">

            <div class="col-md-4">
              <img src="/assets/img/comments1.png" alt="" class="img-responsive circle center-block">
            </div>
            <div class="col-md-8">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry standard
                dummy text ever since the 1500s, when an unknown printer took a galley
                 of type and scrambled it to make.</p>
              <p class="upp"><span>Darwin Michle,</span> Project manager</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default  card">
          <div class="panel-body text-justify">
            <div class="col-md-4">
              <img src="/assets/img/comments2.png" alt="" class="img-responsive circle center-block">
            </div>
            <div class="col-md-8">
              <p>Lorem Ipsum is simply dummy text of the printing
                 and typesetting industry. Lorem Ipsum has been the industrystandard
                dummy text ever since the 1500s, wen an unknown printer took a galley
                 of type and scrambled to make a type specimen
                book.</p>
              <p class="upp"><span>Madam Elisabath,</span> Creative Director</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panle-default  card">
          <div class="panel-body text-justify">
            <div class="col-md-4">
              <img src="/assets/img/comments3.png" alt="" class="img-responsive circle center-block">
            </div>
            <div class="col-md-8">
              <p>Lorem Ipsum is simply dummy text of the printing
                 and typesetting industry. Lorem Ipsum has been the industry standard
                dummy text ever since the 1500s, when an unknown printer took a galley
                 of type and scrambled it to make.</p>
              <p class="upp"><span>Clips Arter,</span> Lipsum directer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 bottom">
        <div class="panel panel-default  card">
          <div class="panel-body text-justify">
              <div class="col-md-4">
                <img src="/assets/img/comments4.png" alt="" class="img-responsive circle center-block">
              </div>
              <div class="col-md-8">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrystandard
                  dummy text ever since the 1500s, wen an unknown printer took a galley of type and scrambled to make a type specimen
                  book.</p>
                <p class="upp"><span>Zam Cristafr,</span> manager</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="contacts">
  <div class="container">
    <div class="row text-center">
      <h3>Контакты:</h3>
      <a href="tel:+987 9976 999">+987 9976 999</a>
    </div>
  </div>
  <div class="row copyright text-center">
    <p>
      All contents © copyright 2014 Business Theme. All rights reserved Designed by : Sasha Olya
    </p>
  </div>
</footer>

    <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left login-orange">Войдите в учетную запись</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div>
                        <login></login>
                        <!--Modal Window-->
                    </div>
                </div>
            </div>
        </div>
    </div>