/* You can add global styles to this file, and also import other style files */
/*============    ШРИФТЫ    ===========*/

@font-face {
    font-family: 'RobotoRegular';
    src: url('/assets/fonts/RobotoRegular.eot');
    src: url('/asset/fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('/assets/fonts/RobotoRegular.woff2') format('woff2'),
         url('/assets/fonts/RobotoRegular.woff') format('woff'),
         url('/assets/fonts/RobotoRegular.ttf') format('truetype'),
         url('/assets/fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('/assets/fonts/RobotoBold.eot');
    src: url('/assets/fonts/RobotoBold.eot') format('embedded-opentype'),
         url('/assets/fonts/RobotoBold.woff2') format('woff2'),
         url('/assets/fonts/RobotoBold.woff') format('woff'),
         url('/assets/fonts/RobotoBold.ttf') format('truetype'),
         url('/assets/fonts/RobotoBold.svg#RobotoBold') format('svg');
}

a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
}
/*=================  ШАПКА ======================*/
header {
    background-color: #ffffff;
    padding-top:30px;
    font-family: 'RobotoRegular';
    font-size: 14px;
}

header img {

}

header nav a {
    text-transform: uppercase;
    padding: 12px 12px;
    color: #868686;
    -moz-transition: all 0.6s 0.06s ease;
    -o-transition: all 0.6s 0.06s ease;
    -webkit-transition: all 0.6s 0.06s ease;
}

header nav a:hover {
    text-decoration: none;
    color:#ffffff;
    background-color: #ffbb42;
    border-radius: 5px;
}

header .account a {
    font-family: 'RobotoRegular';
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 12px;
    color:#ffffff;
    background-color: #ffbb42;
    border-radius: 5px;
    text-decoration: none;
}

/*============    ГЛАВНЫЙ ЭКРАН    ===========*/

#main {
    background-color: #709dca;
    padding-bottom: 500px;
    padding-top: 103px;
    color: #ffffff;
}

#main h1 {
    font-family: 'RobotoBold';
    text-transform: uppercase;
}

#main h4 {
    font-family: 'RobotoRegular';
}

#main input {
    width: 282px;
    height: 46px;
    border-radius: 3px;
}

#main input[placeholder] {
    padding-left: 30px;
}

#main button {
    width: 211px;
    height: 45px;
    text-transform: uppercase;
    font-family: 'RobotoRegular';
    background-color: #ffbb42;
    border: none;
    border-radius:3px;
}

/*==============   НАШИ ПРЕДЛОЖЕНИЯ ============*/

#service {
    padding-top: 50px;
    padding-bottom: 158px;
    background-color: #ffffff;
    color: #394b50;
}

.section_header {
    font-family: 'RobotoBold';
    text-transform: uppercase;
    padding-bottom: 92px;
}

#service .section_header p {
    font-family: 'RobotoRegular';
    text-transform: none;
    font-size: 18px;
}

#service i {
    color: #709dca;
    padding-top:15px;
}

#service h4 {
    font-family: 'RobotoBold';
    text-transform: uppercase;
}

#service p {
    font-size: 13px;
}

/*==============   О НАС   =============*/

#about {
    background: url(/assets/img/about.jpg) no-repeat left;
    color: #ffffff;
}
#about .row {

}

#about p {
    font-family: 'RobotoRegular';
    font-size: 13px;
    text-transform: none;
}

#about .orange {
    padding-left: 81px;
    background-color: #ffc155;
    padding-top: 164px;
    padding-bottom: 120px;
}

#about button {
    font-family: 'RobotoRegular';
    background-color: #ffc155;
    text-transform: uppercase;
    width: 145px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e7ad48;
}

/*============ КАК РАБОТАЕТ НАШ СЕРВИС ========*/

#howitwork {
    background-color: #ffffff;
    color: #394b50;
    padding-top: 145px;
    padding-bottom: 160px;
}

#howitwork .section_header{
    font-family: 'RobotoBold';
}

#howitwork p {
    font-family: 'RobotoRegular';
    font-size: 13px;
}

#howitwork .section_header p {
    font-family: 'RobotoRegular';
    font-size: 18px;
    text-transform: none;
}

#howitwork h4 {
    font-family: 'RobotoBold';
    text-transform: uppercase;
}

#howitwork i {
    color: #ffbb42;
}

#howitwork .button {
    padding-top: 94px;
}

#howitwork button {
    height: 46px;
    width: 200px;
    font-family: 'RobotoBold';
    text-transform: uppercase;
    background-color: #ffbb42;
    border: none;
    border-radius: 3px;
    color: #ffeed8;
}

/*============== НЕДАВНИЕ ОБЪЯВЛЕНИЯ =====*/

#clipboard {
    background-color: #e7edf3;
    padding-top: 137px;
    color: #394b50;
}

#clipboard .section_header {
    font-family: 'RobotoBold';
    text-transform: uppercase;
}

#clipboard .section_header p {
    font-family: 'RobotoRegular';
    text-transform: none;
    font-size: 18px;
}

#clipboard .card {
    background: #ffffff;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 568px;
    font-family: 'RobotoRegular';  
    font-size: 13px;
    padding-top: 51px;
    padding-bottom: 51px;
}

#clipboard .card img {
    /*margin-bottom: 77px;*/
    /*padding-left: 30px;*/
}

#clipboard .bottom {
    margin-bottom: 152px;
}

#clipboard .card-text {
    /*padding-left: 70px;*/
}

#clipboard .upp {
    text-transform: uppercase;
    color: #a9b6ba;
}
#clipboard .upp span {
    color: #f78d58;
}

/*============  ОТЗЫВЫ КЛИЕНТОВ  =========*/

#comments {
    background-color: #ffc155;
    padding-top: 137px;
    color: #394b50;
}

#comments .section_header {
    font-family: 'RobotoBold';
    text-transform: uppecase;
}

#comments .ection_header p {
    font-family: 'RobotoRegular';
    text-transform: none;
    font-size: 18px;
}

#comments .card {
    background: #ffffff;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 568px;
    font-family: 'RobotoRegular';
    font-size: 13px;
    padding-top: 51px;
    padding-bottom: 51px;
}

#comments .bottom {
    margin-bottom: 152px;
}

#comments .upp {
    text-transform: uppercase;
    color: #a9b6ba;
}

#comments .upp span {
    color: #f78d58;
}

/*============ ФУТЕР ====================*/

footer {
    background-color: #709dca;
    color: #ffffff;
    font-family: 'RobotoRegular';
}

footer a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff; 
}

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ПОДВАЛ    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/

/*============    	АДАПТИВ    ===========*/


@media(min-width:0px) and (max-width:320px) {
	
}

@media(min-width:321px) and (max-width:480px) {
	
}

@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	
}

@media(min-width:993px) and (max-width:1200px) {
	
}